<!doctype html>

<html>
<head>
    <title> Hangman App </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css"/>

</head>

<body ng-app="HangmanApp" ng-controller="GameController">
    <div class="row align-items-center">
        <p class="text-center col-md-12 welcome-bar">
            Welcome to Angular Hangman
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="gameInfo">
                Guesses Left :: {{guesses}}
                </div>
                <div class="gameInfo">
                    Your Incorrect Guesses :: <span ng-repeat="letter in incorrectLettersChosen"> {{letter}} </span>
                </div>
                <div class="gameInfo">
                    Your Correct Guesses :: <span ng-repeat="letter in correctLettersChosen"> {{letter}} </span>
                </div>
                <div class="gameInfo">
                    The word is :: {{displayWord}}
                </div>
                <div>
                    <div class="keyEntryForm">
                        <input size="5" minLength="1" maxlength="1" id="keyEntryField" type="text" name="guess" ng-model="input.letter">
                        <button id="keyEntryButton" ng-click="letterChosen()">Submit</button>
                    </div>
                </div>
            </div>
            <div id="gameResultsBox" class="col-md-6">
                <p class="resultsStatement">{{resultsStatement}}</p>
            </div>
        </div>
    </div>
    
    <script>
        var input = document.getElementById("keyEntryField");
        input.addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("keyEntryButton").click();
            }
        });
    </script>
</body>
</html>
